.Barcode128Large {
	font-family: IDAutomation Uni M;
	font-size: 26px;
}

.Barcode128M {
	font-family: IDAutomation Uni M;
	font-size: 24px;
}

.Barcode128small {
	font-family: Segoe UI;
	font-size: 12px;
}

.Barcode128XL {
	font-family: IDAutomation SUni XL;
	font-size: 36px;
}

.BarcodeC39L {
	font-family: Tahoma;
	font-size: 12px;
}

.BarcodeC39M {
	font-family: Segoe UI;
	font-size: 12px;
}

.BaseButtons {
	font-family: Tahoma;
	font-size: 12px;
}

.BaseCheckBox {
	font-family: Tahoma;
	font-size: 12px;
}

.BaseField {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
}

.BaseFormTitle {
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
}

.BaseGroupBox {
	font-family: Tahoma;
	font-size: 12px;
}

.BaseInformation {
	font-family: Tahoma;
	font-size: 11px;
}

.BaseLabel {
	font-family: Tahoma;
	font-size: 12px;
}

.BaseListboxContents {
	font-family: Segoe UI;
	font-size: 12px;
}

.BaseListboxHeaders {
	font-family: Segoe UI;
	font-size: 12px;
}

.BaseManditory {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}

.BaseManditoryLabel {
	font-family: Tahoma;
	font-size: 12px;
	font-style: italic;
	text-decoration: underline;
}

.BaseNonEnter {
	font-family: Tahoma;
	font-size: 12px;
}

.BaseRadioButton {
	font-family: Tahoma;
	font-size: 12px;
}

.BigButtons {
	font-family: Segoe UI;
	font-size: 16px;
}

.Default {
	font-family: MS Sans Serif;
	font-size: 12px;
}

.Fixed_10_Courier {
	font-family: Segoe UI;
	font-size: 12px;
}

.Fixed_12_Courier {
	font-family: Courier;
	font-size: 12px;
}

.Fixed_13_Courier {
	font-family: Segoe UI;
	font-size: 12px;
}

.Fixed_Large_Mono {
	font-family: Segoe UI;
	font-size: 36px;
}

.Fixed_Monaca_16 {
	font-family: Courier;
	font-size: 16px;
}

.Fixed_Monaco_10 {
	font-family: Segoe UI;
	font-size: 12px;
}

.Fixed_Monaco_20 {
	font-family: Segoe UI;
	font-size: 20px;
}

.Fixed_Monaco_24 {
	font-family: Segoe UI;
	font-size: 24px;
}

.Fixed_Monaco_30 {
	font-family: Segoe UI;
	font-size: 30px;
}

.Form_Label {
	font-family: Segoe UI;
	font-size: 12px;
	font-weight: bold;
}

.Form_Title {
	font-family: Segoe UI;
	font-size: 16px;
	font-weight: bold;
}

.Form_Value {
	font-family: Segoe UI;
	font-size: 12px;
}

.FormField {
	font-family: Segoe UI Semibold;
	font-size: 12px;
}

.GlueLineReportBody {
	font-family: Segoe UI;
	font-size: 12px;
}

.GlueLineReportBold {
	font-family: Segoe UI;
	font-size: 12px;
}

.InvoiceBold {
	font-family: Segoe UI;
	font-size: 12px;
}

.InvoiceRegular {
	font-family: Segoe UI;
	font-size: 12px;
}

.InvoiceSection {
	font-family: Segoe UI;
	font-size: 12px;
}

.InvoiceTiny {
	font-family: Segoe UI;
	font-size: 12px;
}

.LaserPrintField {
	font-family: Tahoma;
	font-size: 12px;
}

.LaserPrintGroupBox {
	font-family: Tahoma;
	font-size: 12px;
}

.LaserPrintLabel {
	font-family: Tahoma;
	font-size: 12px;
}

.LaserPrintText {
	font-family: Tahoma;
	font-size: 12px;
}

.LittleButtons {
	font-family: MS Sans Serif;
	font-size: 9px;
}

.NewLookDisplayOnly {
	font-family: MS Sans Serif;
	font-size: 12px;
}

.NewLookEntry {
	font-family: MS Sans Serif;
	font-size: 12px;
}

.NewLookLabel {
	font-family: MS Sans Serif;
	font-size: 12px;
}

.NewLookManditory {
	font-family: MS Sans Serif;
	font-size: 12px;
}

.Palette_Buttons {
	font-family: Segoe UI;
	font-size: 12px;
}

.RM_Label_Big_as_Hell {
	font-family: Arial;
	font-size: 66px;
	font-weight: bold;
}

.RM_Label_SoSo {
	font-family: Arial;
	font-size: 48px;
}

.Rprt_Label {
	font-family: Segoe UI;
	font-size: 12px;
}

.Rprt_Title {
	font-family: Segoe UI;
	font-size: 12px;
}

.Rprt_Value {
	font-family: Segoe UI;
	font-size: 12px;
}

.SanSerifDark {
	font-family: Segoe UI;
	font-size: 12px;
}

.SanSerifLite {
	font-family: Segoe UI;
	font-size: 12px;
}

.SanSerifSmall {
	font-family: Segoe UI;
	font-size: 12px;
}

.Shell_ColumnHeader {
	font-family: Tahoma;
	font-size: 11px;
}

.Shell_ColumnHeader_Under {
	font-family: Tahoma;
	font-size: 11px;
	text-decoration: underline;
}

.Shell_LargeControl {
	font-family: Tahoma;
	font-size: 12px;
}

.Shell_LargeField {
	font-family: Tahoma;
	font-size: 12px;
}

.Shell_LargeField_NonProp {
	font-family: Courier;
	font-size: 12px;
}

.Shell_LargeLabel {
	font-family: Tahoma;
	font-size: 12px;
}

.Shell_LargeLabel_Under {
	font-family: Tahoma;
	font-size: 12px;
	text-decoration: underline;
}

.Shell_ListItem {
	font-family: Tahoma;
	font-size: 12px;
}

.Shell_ListItem_Small {
	font-family: Tahoma;
	font-size: 12px;
}

.Shell_Main_Little_Bold {
	font-family: Tahoma;
	font-size: 10px;
	font-weight: bold;
}

.Shell_Main_Little_Button {
	font-family: Tahoma;
	font-size: 11px;
}

.Shell_Main_Little_Plain {
	font-family: Tahoma;
	font-size: 10px;
}

.Shell_Main_Standard_Button {
	font-family: Tahoma;
	font-size: 12px;
}

.Shell_Main_Standard_Plain {
	font-family: Tahoma;
	font-size: 12px;
}

.Shell_Main_Standard_Under {
	font-family: Tahoma;
	font-size: 12px;
	text-decoration: underline;
}

.Shell_ReportData {
	font-family: Helvetica;
	font-size: 10px;
}

.Shell_ReportHeader {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
}

.Shell_SmallControl {
	font-family: Tahoma;
	font-size: 11px;
}

.Shell_SmallField {
	font-family: Tahoma;
	font-size: 11px;
}

.Shell_SmallField_Under {
	font-family: Tahoma;
	font-size: 11px;
	text-decoration: underline;
}

.Shell_SmallLabel {
	font-family: Tahoma;
	font-size: 11px;
}

.Shell_SmallLabel_Bold {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
}

.Shell_SmallLabel_Under {
	font-family: Tahoma;
	font-size: 11px;
	text-decoration: underline;
}

.Shell_URLs {
	font-family: Tahoma;
	font-size: 12px;
	text-decoration: underline;
}

.Shell_XSmallLabel {
	font-family: Tahoma;
	font-size: 9px;
}

.Shell_XSmallLabel_Under {
	font-family: Tahoma;
	font-size: 9px;
	text-decoration: underline;
}

.SSCC_Text {
	font-family: Segoe UI;
	font-size: 12px;
}

