@charset "UTF-8";
/* CSS Document */

#startScannerButton {
	float: left;
  position: absolute;
  left: 0px;
  top:60px;
  right:0px;
  height: 175px;
  z-index: 1001;
  font-size:18px;
    border: 3px solid #FFFFFF;
 
 }
 
 

@media all and (min-width: 532px) {

#startScannerButton {
  height: 120px;
 
 }
}